:root {
    --bg-color: linear-gradient(140deg,rgba(0,16,36,100),rgba(62,9,98,100),rgba(78,77,166,100),rgba(0,212,255,100));
}

/* * {
    box-sizing:unset;
} */
/* 
body {
    background: lightblue;
    margin: 1rem;
padding: 1rem;
} */

section {
    margin: 2rem;

}

header {
    background: var(--bg-color);
}

h2.header-align-center {
    font-size: 1.5rem !important;
    text-align: center;
}

#page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: rgba(248,254,255,100);
}


li {
    list-style: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    line-height: 2rem;
    font-size: 1.1rem;
}

/* bolding the date on the future forecast cards */

li:first-of-type {
    font-weight: 600;
}

/* removing the bolded font from the first li element in the current forecast card */

li.li-items {
    font-weight: 400;
}

#current-city-name {
white-space: pre-line;

}

.display-date {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.weather-icon {
    width: 5rem !important;
    /* background: lightblue; */
    border-radius: 50%;
    margin: 1rem;
}

.future-weather-icon {
        width: 3rem !important;
        background: lightblue;
        border-radius: 50%;
        margin: 1rem;
    }

#five-day-container {
    background: var(--bg-color);
}

#today-forecast-container {
    border: 2px solid blue;
}

#clear-history-btn {
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.searchHistoryBtn {
    width: 100%;
    border-radius: 2rem;
    padding-left: 0.2rem;


}

.bg-success, .bg-warning, .bg-danger {
    width: fit-content;

}

.thunderstorm {
    background-color: darkgray;
}

.drizzle {
    background-color:gainsboro ;
}

.rain {
    background-color:lightsteelblue ;
}

.snow {
    background-color: aliceblue  ;
}

.atmosphere {
    background-color: lavender  ;
}

.clouds {
    background-color: lightgrey  ;
}

.clear {
    background-color:lemonchiffon  ;
}

footer h3 {
    font-size: 1.1rem ;
    margin-left: 2rem;
}

/* media query for smaller screens so that the search history is positoned at the bottom of the forecast*/

@media screen and (max-width: 600px) {

    .previous {
        order: 4
    }
}