:root {
    --bg-color: linear-gradient(140deg,rgba(0,16,36,100),rgba(62,9,98,100),rgba(78,77,166,100),rgba(0,212,255,100));

    --text-shadow: 0.1rem 0.1rem rgba(10,10,10,75);
}
/* overriding the margin right for bootstrap rows as it was doing funky things on mobile for my future forecast cards */
.row {
    margin-right: 0;
    margin-left: 0;
}

/* setting the font */

body {
    font-family: 'Raleway', sans-serif;
}

/* adding a margin to the section */

section {
    margin: 2rem;

}

/* styling for the header */

header {
    background: var(--bg-color);
    text-shadow: var(--text-shadow);
    height: 9rem;
    display: flex;
    align-items: center;
}

#page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: rgba(248,254,255,100);
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

/* alignment and font size for search titles  */

h2.header-align-center {
    font-size: 1.6rem;
    text-align: center;
}

/* making the li items on the current forecast card split into two columns */

ul {
    column-count: 2;
}

/* styling for li elements added in with JavaScript. Added text shadow for readability on darker background colour */

li {
    list-style: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    line-height: 2rem;
    font-size: 1.1rem;
    text-shadow: var(--text-shadow);
    
}

/* bolding the date on the future forecast cards */

li:first-of-type {
    font-weight: 900;
}

/* removing the bolded font from the first li element in the current forecast card. Removing the text-shadow from the current forecast card */

li.li-items {
    font-weight: 300;
    text-shadow: none;
    
}

/* styling for displayed date */

.display-date {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

/* Sizing for icons because for some reason they're huge?? */

.weather-icon {
    width: 5rem !important;
    border-radius: 50%;
    margin: 1rem;
}

.future-weather-icon {
        width: 3rem !important;
        background: rgba(173, 216, 230, 0.70);
        border-radius: 50%;
        margin: 1rem;
    }

/* adding the gradient background colour to the future forecast cards */

#five-day-container {
    background: var(--bg-color);
    margin: 0.5rem;
    padding: 1rem;
}

/* styling for buttons */

#clear-history-btn {
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.searchHistoryBtn {
    width: 100%;
    border-radius: 2rem;
    padding-left: 0.2rem;


}

/* styling for the highlight colours on the UV Index elements */

.bg-success, .bg-warning, .bg-danger {
    width: fit-content;
}

/* setting the colurs for various weather statuses */

.thunderstorm {
    background: linear-gradient(140deg, rgba(169,169,169,100), rgba(169,169,169,0));
}

.drizzle {
    background: linear-gradient(140deg,rgba(220,220,220,100), rgba(220,220,220,0));
}

.rain {
    background: linear-gradient(140deg, rgba(176, 196,222,100),rgba(176,196,222,0));
}

.snow {
    background: linear-gradient(140deg,rgba(240,248,255,100), rgba(240,248,255,0));
}

.atmosphere {
    background: linear-gradient(140deg,rgba(230, 230, 250, 100), rgba(230, 230, 250, 0));
}

.clouds {
    background: linear-gradient(140deg,rgba(211, 211, 211, 100), rgba(211, 211, 211, 0));
}

.clear {
    background: linear-gradient(140deg,rgba(255, 242, 205, 100), rgba(255, 242, 205, 0));
}

/* styling for footer */

footer h4 {
    font-size: 1.1rem ;
    margin-left: 2rem;
}

/* media query for smaller screens so that the search history is positoned at the bottom of the forecast*/

@media screen and (max-width: 550px) {

    .previous {
        order: 4
    }
}